@font-face{font-family:appleLogo;src:local("Lucida Grande");unicode-range:U+F8FF}
#user_groups_pane .mention{background-color:#fffce0}
#user_groups_container .info_panel{border:1px solid #e8e8e8;background:#f9f9f9;padding:1rem;border-radius:6px;font-size:1rem;margin:.5rem auto 2.5rem}
#user_groups_container .mention{background-color:#fffce0!important}
#user_groups_container p.user_groups_tip{font-size:.95rem}
#all_user_groups #user_groups_list_scroller #user_groups_list_div{overflow-y:auto;overflow-x:hidden}
#all_user_groups #user_groups_list_scroller #user_groups_list_div .user_group_item{line-height:1.25rem}
#all_user_groups #user_groups_list_scroller #user_groups_list_div .user_group_item .user_group_count{margin-top:9px}
#user_groups_header{padding-top:6vh}
#user_groups_header .user_groups_search{position:relative;margin:1.25rem 0}
#user_groups_header .user_groups_search input.member_filter{padding-left:1.9rem}
#user_groups_header .user_groups_search .icon_search{position:absolute;font-size:1rem;top:5px;left:8px;color:#9e9ea6}
#user_groups_header a.icon_close{position:absolute;right:8px;top:6px;color:#babbbf;font-size:20px}
#user_groups_header a.icon_close:hover{color:#3aa3e3;text-decoration:none}
.user_group_item{border-bottom:1px solid #e8e8e8}
.user_group_item a{color:#555459;text-decoration:none}
.user_group_item a i{line-height:18px;vertical-align:middle}
.user_group_item .user_group_actions{display:none;padding-top:.3rem}
.user_group_item .user_group_actions .btn_icon{height:2pc;min-width:38px;padding:5px 6px}
.user_group_item .user_group_count{font-size:.85rem}
.user_group_item .user_group_count i{line-height:.85rem;vertical-align:bottom}
.user_group_item .user_group_count i:before{font-size:15px}
.user_group_item:hover{text-decoration:none}
.user_group_item:hover .user_group_actions{display:block}
.user_group_item:hover .user_group_count{display:none}
.user_group_item.highlight_yellow{-webkit-animation:highlight_fade 4s linear;-moz-animation:highlight_fade 4s linear;animation:highlight_fade 4s linear}
#flex_contents .user_group_item h4{font-size:1.125rem;margin-bottom:.2rem}
#flex_contents .user_group_item p{font-size:.95rem;margin-bottom:.2rem}
#flex_contents .user_group_item p.small{line-height:1.3rem}
#flex_contents .user_group_item:hover{background-color:#f9f9f9}
#flex_contents .user_group_item:hover h4{color:#439fe0}
.user_group_settings_form .handle_input .icon_at{position:absolute;font-size:1.25rem;margin-left:.75rem;margin-top:.8rem;color:#9e9ea6}
.user_group_settings_form .handle_input input{padding-left:1.8rem}
.user_group_settings_form .filter_select.default_style .fsl_input_container{padding:.4rem}
.user_group_settings_form .filter_select.default_style .fsl_input_container input{font-size:1.25rem;padding:.3rem}
@-webkit-keyframes highlight_fade{from{background-color:#fffce0}
to{background-color:#fff}
}
@-moz-keyframes highlight_fade{from{background-color:#fffce0}
to{background-color:#fff}
}
@keyframes highlight_fade{from{background-color:#fffce0}
to{background-color:#fff}
}
.user_group_invite_member_small{font-size:14px;position:relative;padding-left:42px;height:36px}
.user_group_invite_member_small .add_icon,.user_group_invite_member_small .enter_icon{display:none}
.fsl_item.active .user_group_invite_member_small .add_icon,.fsl_item.active .user_group_invite_member_small .enter_icon{display:inline}
.user_group_invite_member_small .add_icon{margin-top:.7rem;font-size:2rem;color:#439fe0}
.user_group_invite_member_small .invite_member_avatar{width:36px;height:36px;margin-right:.5rem;position:absolute;left:0;top:0;border-radius:6px}
.user_group_invite_member_small .name_container{display:-webkit-flex;display:-ms-flexbox;display:flex;-ms-flex-direction:column;-webkit-flex-direction:column;flex-direction:column;-ms-flex-pack:distribute;-webkit-justify-content:space-around;justify-content:space-around;height:36px}
.user_group_invite_member_small .name_container .not_in_token{font-size:9pt}
.fsl_item.fsl_token .user_group_invite_member_small{height:28px;padding-left:36px}
.fsl_item.fsl_token .user_group_invite_member_small .name_container{height:28px}
.fsl_item.fsl_token .user_group_invite_member_small .not_in_token{display:none}
.fsl_item.fsl_token .user_group_invite_member_small .invite_member_avatar{height:28px;width:28px;margin-right:.3rem;border-radius:0}
.user_groups_img{background-image:url(/6d50c/img/user_groups.png);position:relative;display:block;width:100%;height:150px;background-repeat:no-repeat;background-size:contain;background-position:center}
#col_flex .user_groups_img{background-image:url(/0180/img/user_groups_flexpane_2x.png);max-width:4in;height:184px;margin:1rem auto 0}
#user_group_member_invite_div .fsl_item.fsl_token{margin:0 6px 6px 0;padding-left:0;padding-top:0;padding-bottom:0;top:0}
#user_group_member_invite_div .fsl_item.fsl_token:after{top:0}
#user_group_member_invite_div .disabled .fsl_item.fsl_token{background-color:#babbbf;border-color:#babbbf}
#user_group_member_invite_div .fsl_input_container{min-height:10rem;padding:6px 0 0 6px!important}
#user_group_member_invite_div .fsl_input{padding:6px .75rem .75rem 6px}
#user_group_preview_container h3{font-size:1.37rem}
#user_group_preview_container p{font-size:.95rem;line-height:1.25rem}
#user_group_preview_container #user_group_menu_toggle{border-radius:6px;width:30px;height:25px}
#user_group_preview_container #user_group_menu_toggle:before{margin-top:2px}
#user_group_preview_container .flexpane_tab_bar li{width:50%}
#user_group_preview_container .flexpane_tab_bar li a{width:100%}
#user_group_preview_container .user_group_item.channel_item p{font-size:.9rem}
#user_groups_list p.user_groups_tip{font-size:.95rem;line-height:1.25rem}